
@{
    ViewBag.Title = "View401";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Lỗi đăng nhập
    }
<div class="alert alert-danger">
    Bạn không có quyền truy cập!
</div>
