
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(images/bg/2.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Giới thiệu về NHT Shop</h2>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="index.html">Home</a>
                            <span class="brd-separetor">/</span>
                            <span class="breadcrumb-item active">Về chúng tôi</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Phần giới thiệu-->
<section class="htc__store__area ptb--120 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section__title section__title--2 text-center">
                    <h2 class="title__line">Chào mừng đến với NHT Sport Shop</h2>
                    <p>
                        Bạn muốn có những trang phục thi đấu chất liệu tốt nhưng giá cả phải chăng ?<br>
                        Bạn muốn có những đôi giày cực đỉnh, khiến mọi người phải ngưỡng mộ ?<br>
                        Hãy đến với NHT Sport Shop của chúng tôi, một cửa hàng bán đồ thể thao trực tuyến với những bộ trang phục, phụ kiện thể thao với chất liệu tốt nhất cùng dịch vụ
                        giao hàng nhanh chóng chắc chắn sẽ khiến bạn hài lòng.<br>
                        Được thành lập vào năm 2019, NHT Sport Shop luôn là cửa hàng thể thao trực tuyến được khách hàng tin tưởng về sự uy tín của chất lượng sản phẩm
                    </p>
                </div>
                <div class="store__btn">
                    <a href="#">Liên hệ với chúng tôi</a> <!--Nối qua chỗ contact-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--Phần dịch vụ-->
<section class="htc__choose__us__ares bg__white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <a href="#">
                    <img src="/assets/net/images/Shipper.jpg" alt="Shipper Image">
                </a>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="htc__choose__wrap bg__cat--4">
                    <h2 class="choose__title"> Tại sao bạn nên chọn chúng tôi ?</h2>
                    <div class="choose__container">
                        <div class="single__chooose">
                            <div class="choose__us">
                                <div class="choose__icon">
                                    <span class="ti-heart"></span>
                                </div>
                                <div class="choose__details">
                                    <h4>Nhiều ưu đãi</h4>
                                    <p>Sẽ có những ưu đãi hàng tháng về giá thành, cũng như những sản phẩm Limited </p>
                                </div>
                            </div>
                            <div class="choose__us">
                                <div class="choose__icon">
                                    <span class="ti-truck"></span>
                                </div>
                                <div class="choose__details">
                                    <h4>Miễn phí giao hàng</h4>
                                    <p>Miễn phí giao hàng trong Thành phố Hồ Chí Minh và Hà Nội</p>
                                </div>
                            </div>
                        </div>
                        <div class="single__chooose">
                            <div class="choose__us">
                                <div class="choose__icon">
                                    <span class="ti-reload"></span>
                                </div>
                                <div class="choose__details">
                                    <h4>Hoàn tiền</h4>
                                    <p>Bạn hoàn toàn có thể được hoàn tiền nếu sản phẩm bị hư hỏng hoặc lỗi trong vòng 10 ngày kể từ ngày mua </p>
                                </div>
                            </div>
                            <div class="choose__us">
                                <div class="choose__icon">
                                    <span class="ti-time"></span>
                                </div>
                                <div class="choose__details">
                                    <h4>Hỗ trợ 24/7</h4>
                                    <p>Đội ngũ hỗ trợ của chúng tôi sẵn sàng hỗ trợ bạn 24/7 về chất lượng và giá thành của sản phẩm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SPhần giới thiệu liên kết -->
<section class="htc__team__area bg__white ptb--120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section__title section__title--2 text-center">
                    <h2 class="title__line">Các hãng thể thao có liên kết</h2>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Phần logo các đơn vị có liên kết -->
<div class="htc__brand__area bg__white ptb--30">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="brand__list">
                    <li>
                        <a href="#">
                            <img src="/assets/net/images/brand/Logo_Adidas.png" alt="brand images">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/assets/net/images/brand/Logo_Nike.png" alt="brand images">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/assets/net/images/brand/Logo_Puma.png" alt="brand images">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/assets/net/images/brand/Logo_Umbro.png" alt="brand images">
                        </a>
                    </li>
                    <li class="hidden-sm">
                        <a href="#">
                            <img src="/assets/net/images/brand/Logo_UA.png" alt="brand images">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

